body{
    background: rgb(184, 184, 124);
}
div{
    font: normal 28pt times;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    
}
.menu{
    background: rgb(132, 136, 72);
    text-align: center;
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 120px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.377);
}

.login{
    background: rgba(152, 160, 38, 0.808);
    margin: auto;
    margin-top: 30px;
    height: 250px;
    width: 250px;
}

.login input{
    margin: 20px 0px 10px 0px;
    border-radius: 5%;
}

input.entrar{
    width: 150px;
    background: rgb(9, 63, 23);
    border-radius: 10px;
    color: white;
    height: 30px;
}

.entrarover{
    width: 150px;
    background: rgb(37, 126, 61);
    border-radius: 10px;
    color: white;
    height: 30px;
}

.entrarout{
    width: 150px;
    background: rgb(9, 63, 23);
    border-radius: 10px;
    color: white;
    height: 30px;
}

#opcoes{
    font: normal 12pt times;
    color: rgb(239, 253, 46);
}

.efeito-inputover{
    width: 200px;
}

#titulo{
    padding:20px 0px 0px 0px;
    color: rgb(146, 240, 4);
}